type project
title
    Vertigo.Json
owners
    Jet.com
authors 
    Jet.com
projectUrl
    https://github.com/jet/Vertigo.Json
iconUrl
    https://raw.githubusercontent.com/jet/Vertigo.Json/master/docs/files/img/logo.png
licenseUrl
    https://github.com/jet/Vertigo.Json/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    F# JSON
summary
    F# JSON (de)serialization library
description
    F# JSON (de)serialization library


